@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
body {
	font-family: 'Roboto Mono';
	background-color: #3A3232;
}

h1 {
	font-family: 'Roboto Mono';
}

html,
body {
width: 100%;
height: 100%;
}

.hero::before {
background-image: url("https://images.pexels.com/photos/1520108/pexels-photo-1520108.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
background-size: cover;
background-attachment: fixed;
content: "";
display: block;
position: absolute;
width: 100%;
height: 100%;
z-index: -2;
opacity: 0.4;
}

.leftCol {
	background-color: #403A3A;
	top :0;
	bottom:0;	
}

.accordeon {	
  position: sticky;
  top: 0;
  background-color: green;
  border: 2px solid #4CAF50;
}

#projectDiv {
	background-color: rgba(100, 100, 100);
	opacity: 0;
	transition: 1s;
	position:relative;
	height: 100%;
}

#projectDiv:hover {
	background-color: rgb(100, 100, 100);
	opacity: 1;
	color:white;
}	

.myImg {
	position: absolute;
	left:0;
	right: 0;
	transition: 1s;
	top: 0;
	bottom: 0;
	height:100%;
	margin: auto;
}

.papaDiv:hover > .myImg {
	opacity: 0;
}

.papaDiv {
	position: relative;
	left:0;
	right: 0;
}